.pagina{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    background-color: #4a4a4a; /* Fundo principal: Cinza Escuro */
    flex-direction: column;
    padding: 20px;
}

.blocoPagina {
    display: flex;
    align-items: center;
    justify-content: space-around; /* Espaçamento entre a imagem e o texto */
    width: 100%;
}

.fotoPerfil {
    width: 100%;
    max-width: 150px; /* Ajuste para o tamanho máximo desejado */
    height: auto;
    border-style: groove;/* Para tornar a foto circular */
}

.pagina h1{
    font-family: 'Lato', sans-serif; /* Fonte de destaque para títulos */
    text-align: center;
    color: #ffffff; /* Texto predominante: Branco */
}

.pagina p{
    color: #ffffff; /* Texto predominante: Branco */
    text-align: center;
}